<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Culture Holidays</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formData="ngForm" (ngSubmit)="forgetPassword(formData)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Forget Password?</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label position="floating">Enter your email</ion-label>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="medium" color="danger" type="submit" [disabled]="formData.invalid" expand="block">SUBMIT</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- displaying users-->
<p *ngIf="users.total<1">No user available</p>
<ion-list *ngFor="let user of users.user">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>EMAIL : {{user.email}}</ion-card-subtitle>
          <ion-card-subtitle>USER_ID : {{user._id}}</ion-card-subtitle>
          <ion-card-subtitle>PASSWORD : {{user.password}}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-list>
</ion-content>
